<!doctype html>
<html lang="en">
  <head>
    <!-- 1. Static CSS (CRITICAL for preventing Layout Shift) -->
    <link rel="stylesheet" href="/styles/output.css" />
    <link rel="stylesheet" href="/styles/rm.css" />
    <!-- 1. Load Components -->
    <!-- We use module type because they use ES6 imports internally -->
    <script type="module" src="/components/rm-head.js"></script>
    <script type="module" src="/components/rm-navheader.js"></script>
    <script type="module" src="/components/rm-footer.js"></script>

    <!-- 2. Configure Page Head -->
    <!-- Replaces the bulk of the old head section -->
    <rm-head page-title="About v2"></rm-head>
  </head>

  <body>
    <!-- 3. Common Header -->
    <rm-navheader class="block min-h-14 bg-slate-100 py-2"></rm-navheader>

    <main class="mt-4 w-3xl">
      <article>
        <div class="ml-12 text-4xl font-semibold text-slate-700">About</div>
        <section>
          <div class="mx-8 my-2 text-base text-slate-500">
            For support read the documentation. If that fails try AI!
          </div>
        </section>
      </article>
    </main>

    <!-- 4. Common Footer -->
    <rm-footer></rm-footer>
  </body>
</html>
